.fs-0 {
  font-size: 4rem;
}

.fs-7 {
  font-size: 0.8rem;
}

.bg-gray {
  background-color: #f0f2f5;
}

input::placeholder {
  color: #9094b6 !important;
}

input:focus::placeholder {
  color: #ced2d8 !important;
}

@media (min-width: 992px) {
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
